<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="nav-header" href="/"><h1>모지히의 이게모지</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a href="/user/info" class="nav-link"><span th:text="${loggedUser}">사용자 이름</span>님</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a href="/user/signup" role="button" class="btn btn-secondary">회원가입</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a href="/user/login" role="button" class="btn btn-success">로그인</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a href="/user/logout" role="button" class="btn btn-danger">로그아웃</a>
                </li>
            </ul>
        </div>
    </nav>
</div>



</body>
</html>