.form-control {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.current-time-container {
    display: flex;
    align-items: end;
    flex-direction: column;
    padding-right: 1rem;
    font-size: 24px;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.user-welcome {
    align-items: end;
}

.content-box {
    display: flex;
    flex-direction: column;
    height: 150px;
}

.button-container {
    margin-top: auto;
    text-align: right;
}

.input-error {
    border: 1px solid #dc3545; /* 빨간색 테두리 색상 */
}

.error-message {
    color: #dc3545; /* 빨간색 텍스트 색상 */
    font-size: 0.875em; /* 글씨 크기 */
    margin-top: 0.25rem; /* 필드 위에 조금의 여백을 제공 */
    display: none; /* 기본적으로는 보이지 않도록 설정 */
}
