<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link href="/css.style/index.css" rel="stylesheet">
    <title>게시글</title>
</head>
<body>

 <div class="container my-3">
     <section>
     <div th:replace="~{common/header :: header}"></div>
        <div class="row mb-3">
        <div class="col">
            <h2 th:text="${dto.title}">게시글 제목</h2>
            <p class="text-muted">
                <small th:if="${dto.modifiedDate != null}"
                       th:text="${#temporals.format(dto.modifiedDate, 'yyyy-MM-dd HH:mm')}">작성 시간</small>
                <small th:unless="${dto.modifiedDate != null}"
                       th:text="${#temporals.format(dto.createdDate, 'yyyy-MM-dd HH:mm')}">작성 시간</small>
                <small th:text="${dto.author}">작성자</small>
                <p>조회수: <span id="viewCount" th:data-post-id="${dto.id}" th:text="${dto.viewCount}">0</span></p>
            </p>
        </div>
    </div>
    <hr/>
    <input type="hidden" id="id" th:value="${dto.id}">
    <div class="my-3 class-bottom">
        <div class="card-body content-box">
            <div class="card-text" th:text="${dto.content}"></div>
                <div class="row">
                    <div th:each="image: ${dto.images}" class="col-md-4 mb-3">
                        <img th:src="@{|/posts/${image.url}|}" class="img-fluid rounded img-test" th:alt="${dto.title}">
                    </div>
                </div>
            <div class="d-flex justify-content-end"></div>
        </div>
    </div>
    <div class="text-end mt-2 button-container">
        <div class="like-section">
            <button type="button" id="post-like"
                    class="post-like"
                    th:data-post-id="${dto.id}" th:data-user-id="${dto.author}" th:data-liked="false">
                <i class="fa-regular fa-heart"></i>
            </button>
            <span id="like-count" class="like-count" th:text="${dto.likeCount}">1</span>
        </div>
        <div class="action-buttons">
            <a th:href="@{|/posts/update/${dto.id}|}" class="btn btn-sm btn-outline-secondary"
               sec:authorize="isAuthenticated()"
               th:if="${dto.author != null and #authentication.name == dto.author}" th:text="수정"></a>
            <input type="button" class="btn btn-sm btn-outline-danger"
                   sec:authorize="isAuthenticated()"
                   th:if="${dto.author != null and #authentication.name == dto.author}"
                   onclick="main.deleteEvent()" value="삭제"/>
        </div>
    </div>

    <h2>답변</h2>
         <div class="comment-section">
             <div th:if="${!isUserLogin}">
                 <textarea id="noLoggedUser" name="content" class="form-control answer-box" rows="2"
                           placeholder="댓글을 작성하려면 로그인 해주세요" readonly
                           th:attr="data-post-id=${dto.id}"></textarea>
             </div>
                <form class="comment-form" method="post" th:if="${isUserLogin}" th:object="${answer}">
                    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
                    <textarea  class="form-control answer-box" id="answer-box" name="content" rows="2"
                          th:field="*{content}"
                          th:attr="data-post-id=${dto.id}"
                          placeholder="댓글을 입력하세요"></textarea>
                    <div class="error-message" id="content-error" style="display: none;"></div>
                         <div class="answer-register">
                            <button class="btn btn-primary" id="btn-answer-save" type="button">등록</button>
                         </div>
                </form>

        </div>
        <!-- 댓글 목록 -->
        <div th:each="answer : ${answerImages}" class="answerList" th:attr="data-answer-id=${answer.id}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
            <div class="answer-details">
                <div class="answer-header">
                <img th:src="${answer.profileImageUrl}" id="answer-profile" class="img-fluid rounded-circle" alt="Profile picture">
                <h5 class="mt-0" th:text="${answer.author}">작성자 이름</h5>
                <small class="answer-time" th:text="${#temporals.format(answer.createdDate, '(yyyy-MM-dd HH:mm)')}">작성 시간</small>
                </div>
                    <p class="answer-content" th:text="${answer.content}">댓글 내용</p>
            </div>
            <div class="text-end">
                <button type="button" class="btn btn-sm btn-outline-secondary editAnswerBtn"
                   sec:authorize="isAuthenticated()"
                   th:if="${dto.author != null and #authentication.name == answer.author}"
                        th:attr="data-answer-id=${answer.id}"
                        th:onclick="'main.showEditForm(' + ${answer.id} + ')'">수정</button>
                <input type="button" class="btn btn-sm btn-outline-danger btn-answerDelete"
                        sec:authorize="isAuthenticated()"
                        th:if="${#authentication.name == answer.author}"
                        th:attr="data-answer-id=${answer.id}, data-post-id=${dto.id}"
                        value="삭제"/>
            </div>
            <hr/>
            <div th:id="'editForm-' + ${answer.id}" class="editAnswerForm" style="display:none;">
                <textarea th:id="'editContent-' + ${answer.id}" class="form-control"></textarea>
                <button class="btn btn-primary"
                        th:id="'submitEditBtn-' + ${answer.id}">수정 완료</button>
                <button class="btn btn-secondary"
                        th:id="'cancelEditBtn-' + ${answer.id}">취소</button>
            </div>
        </div>


     </section>
 </div>

<script src="/js/app/posts.js" type="module"></script>
<script src="/js/app/answer.js" type="module"></script>
<script src="/js/app/answerModified.js" type="module"></script>
</body>
</html>