<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{common/layout}">
<head>
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <title>게시글</title>
</head>
<body>

 <div class="container my-3">
     <section layout:fragment="content">
     <div th:replace="common/header :: header"></div>
        <div class="row mb-3">
        <div class="col">
            <h2 th:text="${dto.title}">게시글 제목</h2>
            <p class="text-muted">
                <small th:if="${dto.modifiedDate != null}"
                       th:text="${#temporals.format(dto.modifiedDate, 'yyyy-MM-dd HH:mm')}">작성 시간</small>
                <small th:unless="${dto.modifiedDate != null}"
                       th:text="${#temporals.format(dto.createdDate, 'yyyy-MM-dd HH:mm')}">작성 시간</small>
                <small th:text="${dto.author}">작성자</small>
                <p>조회수: <span id="viewCount" th:data-post-id="${dto.id}" th:text="${dto.viewCount}">0</span></p>
            </p>
        </div>
    </div>
    <hr/>
    <input type="hidden" id="id" th:value="${dto.id}">
    <div class="my-3 class-bottom">
        <div class="card-body content-box">
            <div class="card-text" th:text="${dto.content}"></div>
                <div class="row">
                    <div th:each="image: ${dto.images}" class="col-md-4 mb-3">
                        <img th:src="@{|/posts/${image.url}|}" class="img-fluid rounded img-test" th:alt="${dto.title}">
                    </div>
                </div>
            <div class="d-flex justify-content-end"></div>
        </div>
    </div>
    <div class="text-end mt-2 button-container">
        <div class="like-section">
            <button type="button" id="post-like"
                    class="post-like"
                    th:data-post-id="${dto.id}" th:data-user-id="${dto.author}" th:data-liked="false">
                <i class="fa-regular fa-heart"></i>
            </button>
            <span id="like-count" class="like-count" th:text="${dto.likeCount}">1</span>
        </div>
        <div class="action-buttons">
            <a th:href="@{|/posts/update/${dto.id}|}" class="btn btn-sm btn-outline-secondary"
               sec:authorize="isAuthenticated()"
               th:if="${dto.author != null and #authentication.name == dto.author}" th:text="수정"></a>
            <input type="button" class="btn btn-sm btn-outline-danger"
                   sec:authorize="isAuthenticated()"
                   th:if="${dto.author != null and #authentication.name == dto.author}"
                   onclick="main.deleteEvent()" value="삭제"/>
        </div>
    </div>

    <h2>답변</h2>
         <div class="comment-section">
         <form th:action="@{/answer/create/{id}(id=${dto.id})}" th:object="${answer}" method="post" class="comment-form">
        <textarea name="content" class="form-control answer-box" rows="2"
              th:field="*{content}"
              placeholder="댓글을 입력하세요"></textarea>
             <div class="field-error" th:errors="*{content}"></div>
             <div th:if="${answerError}" class="alert alert-danger" th:text="${answerError}"></div>
             <div class="answer-register">
                <button type="submit" class="btn btn-primary">등록</button>
             </div>
         </form>

        </div>
        <!-- 댓글 목록 -->
        <div th:each="answer : ${answerImages}" class="answerList" th:attr="data-answer-id=${answer.id}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
            <div class="answer-details">
                <div class="answer-header">
                <img th:src="${answer.profileImageUrl}" id="answer-profile" class="img-fluid rounded-circle" alt="Profile picture">
                <h5 class="mt-0" th:text="${answer.author}">작성자 이름</h5>
                <small class="answer-time" th:text="${#temporals.format(answer.createdDate, '(yyyy-MM-dd HH:mm)')}">작성 시간</small>
                </div>
                    <p class="answer-content" th:text="${answer.content}">댓글 내용</p>
            </div>
            <div class="text-end">
                <button type="button" class="btn btn-sm btn-outline-secondary editAnswerBtn"
                   sec:authorize="isAuthenticated()"
                   th:if="${dto.author != null and #authentication.name == answer.author}"
                        th:attr="data-answer-id=${answer.id}"
                        th:onclick="'main.showEditForm(' + ${answer.id} + ')'">수정</button>
                <input type="button" class="btn btn-sm btn-outline-danger btn-answerDelete"
                        sec:authorize="isAuthenticated()"
                        th:if="${#authentication.name == answer.author}"
                        th:attr="data-answer-id=${answer.id}, data-post-id=${dto.id}"
                        value="삭제"/>
            </div>
            <hr/>
            <div th:id="'editForm-' + ${answer.id}" class="editAnswerForm" style="display:none;">
                <textarea th:id="'editContent-' + ${answer.id}" class="form-control"></textarea>
                <button class="btn btn-primary"
                        th:onclick="'main.submitEdit(' + ${answer.id} + ')'">수정 완료</button>
                <button class="btn btn-secondary"
                        th:onclick="'main.cancelEdit(' + ${answer.id} + ')'">취소</button>
            </div>
        </div>


     </section>
 </div>

        <!-- Comment Submission Form -->

<script src="/js/app/answer.js"></script>
</body>
</html>