<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css.style/findInfo.css" rel="stylesheet">
</head>
<body>
<div id="findPasswordContainer">
    <a class="nav-header" href="/"><h1>모지히의 이게모지</h1></a>
    <p>비밀번호를 찾고자 하는 아이디를 입력하세요.</p>
    <form id="findPasswordForm" method="post">
        <input id="userId" placeholder="아이디를 입력해주세요" type="text">
        <button id="submitId" type="button">다음</button>
    <!--  username을 입력 받으면 유저의 이메일 보여주기       -->
    </form>
</div>
<script src="/js/app/findUserInfo.js"></script>
</body>
</html>