<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <title th:text="|${siteUser.getNickname()}의 정보|"></title>
</head>
<body>
<div class="container" layout:fragment="content">
    <a class="btn btn-primary" href="/">홈으로</a>
    <a href="/user/logout" role="button" class="btn btn-danger">로그아웃</a>
    <div class="card mb-4">
        <div class="card-header">
            <h4 th:text="|Hello ${siteUser.getUsername()}!|"></h4>
            <div class="myInfo-button">
                <a th:href="@{/user/info/update}" class="btn btn-outline-warning ">정보 수정</a>
                <button type="button" class="btn btn-outline-danger" id="btn-withdrawal">회원 탈퇴</button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <!-- Profile Picture -->
                <div class="col-md-5">
                    <img th:src="${image.getUrl()}" class="img-fluid rounded-circle" alt="Profile picture">
                    <div class="edit-nickname">
                        <input type="text" id="nickname" th:value="${siteUser.getNickname()}" readonly/>
                        <button id="editNickname">수정</button>
                    </div>
                    <div class="alert alert-danger" id="nickname-error" style="display: none;"></div>
                    <form th:action="@{/image/upload}" th:method="post" enctype="multipart/form-data" class="mt-2">
                        <div class="mb-3">
                            <input type="file" class="form-control" name="file" accept="image/*" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Update Profile Picture</button>
                    </form>
                </div>
                <div class="col-md-7">
                    <div id="tabs" class="tabs">
                        <button id="myPostsTab">내가 쓴 글</button>
                        <button id="myAnswersTab">댓글 단 글</button>
                        <button id="myLikesTab">좋아요 누른 글</button>
                    </div>
                    <div id="tabContent">

                    </div>
                    <!-- 탈퇴 확인 모달 -->
                    <div id="modal-withdrawal-confirm" class="modal" style="display: none;">
                        <div class="modal-content">
                            <span class="close">❌</span>
                            <p>정말로 탈퇴하시겠습니까? 이 작업은 되돌릴 수 없습니다.</p>
                            <div class="modal-footer">
                                <button id="confirm-withdrawal" class="btn btn-primary modal-button">예</button>
                                <button id="cancel-withdrawal" class="btn btn-secondary modal-button">아니오</button>
                            </div>
                        </div>
                    </div>

                    <!-- 회원 정보 확인 -->
                    <div id="password-confirmation-form" style="display: none">
                            <span class="close">❌</span>
                            <p>정말로 탈퇴하시겠습니까? 이 작업은 되돌릴 수 없습니다.</p>
                            <div class="modal-footer">
                                <input type="text" id="username" th:value="${siteUser.username}">
                                <input type="password" id="password" class="password-error" placeholder="비밀번호를 입력해주세요">
                            </div>
                            <div id="password-error" style="display: none"></div>
                            <div id="submit-withdrawal-container">
                                <button id="submit-withdrawal">탈퇴하기</button>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>