<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link href="/css.style/index.css" rel="stylesheet">
    <title>로그인</title>

</head>
<body>
        <div class="container my-3 login-container">
            <div class="my-3">
                <form class="login-form" method="post" th:action="@{/user/login}">
                    <a class="nav-header" href="/"><h1>모지히의 이게모지</h1></a>
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            사용자 ID 또는 비밀번호를 확인해주세요.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" th:for="id">사용자 ID</label>
                        <input class="form-control" name="username" placeholder="아이디를 입력하세요" type="text">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" th:for="password">비밀번호</label>
                        <input class="form-control" name="password" placeholder="비밀번호를 입력하세요" type="password">
                    </div>
                    <input name="redirect" th:value="${redirectUrl}" type="hidden" />
                    <button class="btn btn-primary login-button" type="submit" >로그인</button>
                    <ul class="find-wrap" id="find-wrap">
                        <li><a class="find-text" target="_blank">비밀번호 찾기</a></li>
                        <li><a class="find-text" target="_blank">아이디 찾기</a></li>
                        <li><a class="find-text" href="/user/signup" target="_blank">회원가입</a></li>
                    </ul>
                </form>
            </div>
    </div>
<script crossorigin="anonymous" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
<script src="/js/app/user.js" type="module"></script>
</body>
</html>