<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title>게시글</title>
</head>
<body>

 <div class="container my-3">
     <section layout:fragment="content">
    <div class="row mb-3">
        <div class="col">
            <h2 th:text="${dto.title}">게시글 제목</h2>
            <p class="text-muted">
                <small th:text="${#temporals.format(dto.modifiedDate, 'yyyy-MM-dd HH:mm')}">작성 시간</small>
                <small th:text="${dto.author}">작성자</small>
            </p>
        </div>
    </div>
    <hr/>
    <input type="hidden" id="id" th:value="${dto.id}">
    <div class="my=3 class-bottom">
        <div class="card-body content-box">
            <div class="card-text" th:text="${dto.content}"></div>
            <div class="d-flex justify-content-end"></div>
        </div>
    </div>
    <div class="text-end mt-2 button-container">
        <a th:href="@{/}" class="btn btn-sm btn-secondary">home</a>
        <a th:href="@{|/posts/update/${dto.id}|}" class="btn btn-sm btn-outline-secondary"
           sec:authorize="isAuthenticated()"
           th:if="${dto.author != null and #authentication.name == dto.author}" th:text="수정"></a>
        <input type="button" class="btn btn-sm btn-outline-danger"
               sec:authorize="isAuthenticated()"
               th:if="${dto.author != null and #authentication.name == dto.author}"
               onclick="main.deleteEvent()" value="삭제"/>
</div>

    <h2>답변</h2>
    <div class="comment-section">
        <form th:action="@{|/answer/create/${dto.id}|}" method="post" class="comment-form">
            <textarea name="content" class="form-control" rows="2" placeholder="댓글을 입력하세요"></textarea>
            <button type="submit" class="btn btn-primary">등록</button>
        </form>
    </div>
        <!-- 댓글 목록 -->
        <div th:each="answer : ${dto.answerList}" class="answerList" th:attr="answer-id=${answer.id}">
            <div class="answer-details">
            <span class="answer-author"> 작성자: <strong class="answer-author" th:text="${answer.author}"></strong></span>
            <small class="answer-time" th:text="${#temporals.format(answer.createdDate, '(yyyy-MM-dd HH:mm)')}">작성 시간</small>
            </div>
            <p class="answer-content" th:text="${answer.content}" >댓글 내용</p>
            <!-- 대댓글 목록 -->
            <div th:each="childAnswer : ${answer.children}" class="child-answer">
                <div class="answer-details">
                    <span class="answer-author">작성자 <strong th:text="${childAnswer.author}"></strong></span>
                    <small class="answer-time" th:text="${#temporals.format(answer.createdDate, '(yyyy-MM-dd HH:mm)')}">작성 시간</small>
                </div>
                <p class="answer-content" th:text="${childAnswer.content}">대댓글 내용</p>
            </div>
            <hr/>
            <div class="text-end mt-2">
                <button type="button" class="btn btn-sm btn-outline-secondary editAnswerBtn"
                   sec:authorize="isAuthenticated()"
                   th:if="${dto.author != null and #authentication.name == answer.author}"
                   th:text="수정" id="update"></button>
                <input type="button" class="btn btn-sm btn-outline-danger"
                        sec:authorize="isAuthenticated()"
                        th:if="${#authentication.name == answer.author}"
                        th:attr="data-answer-id=${answer.id}, data-post-id=${dto.id}"
                        onclick="answer.answerDelete(this)" value="삭제"/>
            </div>
        </div>
            <div id="editAnswerForm" style="display:none;">
                <textarea id="editAnswerContent"></textarea>
                <input type="button" onclick="main.submitEdit()">수정 완료</input>
                <input type="button" onclick="main.cancelEdit()">취소</input>
            </div>
     </section>
 </div>

        <!-- Comment Submission Form -->

<script src="/js/app/answer.js"></script>
</body>
</html>