<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
</head>
<body>
<div class="col-md-12" layout:fragment="content">
    <div class="col-md-4">
        <form th:action="@{/posts/save}" th:object="${requestDto}" method="post" enctype="multipart/form-data">
<!--            <div th:replace="~{form_error::formErrorsFragment}"></div>-->
            <div class="form-group">
                <label th:for="title" class="form-label">제목</label>
                <input type="text" class="form-control" placeholder="제목을 입력하세요" th:field="*{title}" id="title">
                <div class="alert alert-danger" id="title-error" style="display: none;"></div>
            </div>
            <div class="form-group">
                <label th:for="author" class="form-label">작성자</label>
                <input type="text" class="form-control"
                id="author" th:value="${loggedUser}" readonly>
            </div>
            <div class="form-group">
                <label th:for="content" class="form-label">내용</label>
                <textarea class="form-control"
                            placeholder="내용을 입력하세요" th:field="*{content}" id="content"></textarea>
                <div class="alert alert-danger" id="content-error" style="display: none;"></div>
            </div>
        </form>
        <a href="/"  role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
    </div>
</div>
</body>

</html>