<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>회원가입</title>
</head>
<body>
<div class="container my-3" layout:fragment="content">
    <div class="my-3 class-bottom">
        <div>
            <h4>회원가입</h4>
        </div>
        <form th:action="@{/user/signup}" th:object="${userCreateDto}" method="post">
            <div th:replace="~{form_error::formErrorsFragment}"></div>
            <div class="mb-3">
                <label th:for="username" class="form-label">사용자 ID</label>
                <input type="text" th:field="*{username}" class="form-control" id="username">
                <div class="alert alert-danger" id="username-error" style="display: none;"></div>
            </div>
            <div class="mb-3">
                <label th:for="password1" class="form-label">비밀번호</label>
                <input type="password" th:field="*{password1}" class="form-control" id="password1">
                <div class="alert alert-danger" id="password1-error" style="display: none;"></div>
            </div>
            <div class="mb-3">
                <label th:for="password2" class="form-label">비밀번호 확인</label>
                <input type="password"  th:field="*{password2}" class="form-control" id="password2">
                <p th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}" class="error"></p>
                <div class="alert alert-danger" id="password2-error" style="display: none;"></div>
            </div>
            <div class="mb-3">
                <label th:for="email" class="form-label">이메일</label>
                <input type="email" th:field="*{email}" class="form-control" id="email">
                <div class="alert alert-danger" id="email-error" style="display: none;"></div>
            </div>
            <button type="button" class="btn btn-primary" id="btn-signup">회원가입</button>
        </form>
    </div>
</div>
</body>
</html>